footer{
    background-color: var(--primary-dark-coloro);
    width: 100%;
    height: 100%;
    margin-top: 50px;
    
}
footer h3 {
    color: var(--red-color);
}
footer h4 {
    color: var(--red-color);
    margin-left: 5px;
}
footer a:hover {
    color: var(--primary-hover-coloro);
    transition: .4s;
}

footer ul {
    margin: -3px 0 0 5px;
}
.footer__container {
    max-width: 1270px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.map iframe{
    height: 220px;
    width: 100%;
}
/* .map::after{
    content: "";
    display: block;
    width: 101%;
    height: 222px;
    background-color: var(--primary-dark-coloro);
    opacity: .8;
    position: absolute;
    z-index: 9;
    bottom: 229px;
    left: 0px;
} */
.map::after:hover{
    display: none;
    background-color: var(--primary-hover-coloro);
    opacity: .2;
}
.footer__items {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.footer__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__item:last-child{
    margin-right: 20px;
}
@media(max-width: 1000px){
    .footer__item:first-child {
        display: none;
    }
    .footer__items {
        justify-content: space-between;
        padding:20px 0 15px 10px;
        gap: 30px;
    }
    .footer .map iframe{
        height: 180px;
    }
}
@media(max-width: 600px){

    .footer__items {
        justify-content: space-between;
        padding:10px 0 15px 10px;
        gap: 30px;
    }
    .footer__item:last-child {
        flex: 0 1 100%;
    }
    .footer__item:nth-child(3) {
        padding-right:15px ;
    }

}
.footer__item:last-child h4+*{
    margin-left: 15px;
}
.footer__item li{
    margin-top: 8px;
}
.footer__item>span{
    margin:-24px 0 0 37px;
}
.footer__item:first-child img{
    width:80px;
    border-radius: 100%;
    margin: 20px 0 0 50px;
}
footer .contacts{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 5px;
}
footer .contacts img{
    width: 22px;
}
footer .contacts:nth-of-type(2) {
    margin-top: -15px;
}
footer .contacts:nth-of-type(2) img{
    padding-top: 20px;
}
footer .contacts i{
    font-size: 24px;
    color: rgb(155, 207, 232);
    margin: 0;
}
.footer__copyright {
    border-top: 1px solid #44444480;
    height: 50px;
    position: relative;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.copyright__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 12px;
}
.copyright__item i{
    font-size: 35px;
    margin-right: 15px;
}
